.navbar{
    background: white;
    padding: 20px 35px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap:8px;
}
.logo img{
    width: 60px;
}
.logo h2{
    font-size: 22px;
}
.navlink{
    display: flex;
    gap: 50px;
    list-style: none;
}
.navlink a{
    text-decoration: none;
    color: black;
}
.btn a{
   text-decoration: none; 
   background: #E8BA2E;
   color: black;
   padding: 14px 28px;
   border-radius: 12px;
   font-weight: bold;

}
.header{
    padding: 20px;
}
.hero{
    background-image: url("./image/football.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1200px;
    width: 100%;
    border-radius: 20px;
    
}
.hero-content{
    width: 500px;
    margin-left: 30px;
    padding: 15%;
} 
.hero-content h1{
    font-size: 72px;
    color: white;
    line-height:1.1;
    margin-bottom: 25px;
}
.hero-content p{
    color: white;
    line-height: 1.7;
    margin-bottom: 35px;
}
.hero-btn{
    display: inline-block;
    background: #F4C430;
    color: black;
    text-decoration: none;
    padding: 16px 30px;
    border-radius: 12px;
    font-weight: bold;
}
.stats{
    background-color: #F4C430;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding:45px 50px ;
}
.stat-box{
    flex: 1;
    text-align: center;
}
.stat-box p{
font-size: 16px;
color: #444;
margin-bottom: 20px;
}
.stat-box h1{
    font-size: 64px;
    font-weight: 700;
    color: #000;
}
.city-card{
    display: flex;
    align-items: center;
    padding-left: 50px;
    margin-top: 56px ;

}
.city-content{
font-size: 20px;
gap: 20px;
margin-left: 30px;
}
.city-content p  {
    color: grey;
}
.city-content ul  {
    color: grey;
}
.btn-box{
    text-align: center;
    margin-top: 50px ;
}
.btn{
    background-color: #F4C430;
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 600px;
}
.schedule{
    margin: 100px 0;
}
.schedule-box{
max-width: 1200px;
margin: auto;
padding: 40px;
background: #fff;
border: 1px solid #ddd;
border-radius: 10px;
}
.schedule-box h2{
font-size: 40px;
margin-bottom: 10px;
}
.schedule-box p{
    color: #666;
    margin-bottom: 30px;
}
thead{
    background-color:#A73131 ;
}
th{
     border: 1px solid #292323;
    color: white;
    padding: 10px 15px;
    text-align: center;
}
td{
    border: 1px solid #292323;
    padding: 10px 15px;
}

  table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color:#A73131 ;
}
tbody td:first-child{
    color:#BA1A1A ;
}
.opening{
    color: #F60000;
}
.final{
    color: #BDA004;
}
tbody td:nth-child(3){
    color:#505F76;
}